$primary: #7882ff;
$secondary: #d9dcff;
$icon-light:#ccd0ff;
$white-color: #fff;
$box-shadow: 1px 2px 13px 1px #7882ff1c;

$padding-default: 16px;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;
  color: $primary;
  background-color: #e8eaff;
  transition: cubic-bezier(0.65, 0.01, 0.5, 1.03);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  font-size: 20px;
  padding: $padding-default;

  button {
    background: none;
    border: 1px solid $primary;
    margin-left: 8px;
    padding: 8px;
    border-radius: 50px;
    color: $primary;
  }

  button:hover,
  button:focus {
    outline: none;
    cursor: pointer;
  }
}

.App-content {
  padding: $padding-default;
  display: flex;
  flex: 12;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}