$primary: #7882ff;
$secondary: #d9dcff;
$icon-light:#ccd0ff;
$white-color: #fff;
$box-shadow: 1px 2px 13px 1px #7882ff1c;

$padding-default: 16px;

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  height: 100%;
  margin: auto;
  color: $primary;
  background-color: #e8eaff;
  transition: cubic-bezier(0.65, 0.01, 0.5, 1.03);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  font-size: 20px;
  padding: $padding-default;
}

/*-- Chat Room --*/
.App-chatroom {
  flex: 12;
  .App-chatroom-text {
    margin: $padding-default;
    background-color: $white-color;
    padding: $padding-default;
    border-radius: 100px;
    box-shadow: $box-shadow;
  
    &.chat-right {
      border-bottom-right-radius: 0;
      background-color: $primary;
      color:$white-color;
      margin-left: 50px;
    }
    
    &.chat-left {
      border-bottom-left-radius: 0;
      background-color: #f8f9ff;
      margin-right: 50px;
    }
  }
}

/*-- Send input typing --*/
.App-textbox {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: $padding-default;
  color: $icon-light;

  .App-textbox-input {
    flex: 5;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 50px;
    background-color: $secondary;
    color: $primary;
    margin-right: 5px;
  }

  .App-textbox-send {
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    color:$white-color;
    background-color: $primary;
    border-radius: 100%;
  }
}