$primary: #7882ff;
$secondary: #d9dcff;
$icon-light:#ccd0ff;
$white-color: #fff;
$box-shadow: 1px 2px 13px 1px #7882ff1c;

$text-2xl: 4em;
$text-xl: 2em;
$text-lg: 1.2em;
$text-base: 1em;

$padding-default: 16px;

/*-- Chat Room --*/
.App-chatroom {
  flex: 12;

  .App-chatroom-text {
    margin: $padding-default;
    background-color: $white-color;
    padding: $padding-default;
    border-radius: 100px;
    box-shadow: $box-shadow;

    &.chat-right {
      border-bottom-right-radius: 0;
      background-color: $primary;
      color: $white-color;
      margin-left: 50px;
    }

    &.chat-left {
      border-bottom-left-radius: 0;
      background-color: #f8f9ff;
      margin-right: 50px;
    }
  }
}

/*-- Send input typing --*/
.App-textbox {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  color: $icon-light;

  .App-textbox-input {
    flex: 5;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 50px;
    background-color: $secondary;
    color: $primary;
    margin-right: 5px;
  }

  .App-textbox-send {
    flex: 1;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $white-color;
    background-color: $primary;
    border-radius: 100%;
  }
}


.name {
  font-size: $text-lg;
  //font-weight: 600;
}

/*== Friend List Screen ==*/
.list-item {
  display: flex;
  align-items: center;

  .name {
    flex: 11;
  }

  .chat {
    flex: 1;

    button {
      border: none;
      padding: 8px;
      background-color: #e8eaff;
      color: $primary;
    }
  }
}


/*== Profile Screen ==*/
.text-header {
  text-align: center;
  font-weight: 500;
  font-size: $text-lg;
  padding-bottom: 24px;
}

.profile-info {
  padding-top: 20px;
  margin: auto;
  text-align: center;

  .MuiSvgIcon-root {
    font-size: $text-2xl;
  }
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .App-textbox .App-textbox-send {
    flex: unset;
    padding: 0 20px;
  }
}